{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Uvie Bitcoin Wallet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  
</head>

<body>
 
	<div class="header">
		<h3><a href="index"><span>UVIE</span>WALLET</a></h3>
		{% if user.is_authenticated %}
		<h3 class="welcome">Welcome, {{user.username}}</h3>
		{% endif %}

		<nav>
			<ul>
				<li><a href="register">Register</a></li>
				{% if user.is_authenticated %}
				<li><a href="logout">Logout</a></li>
				{% else %}
				<li><a href="login">Login</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
	<h1>Your Bitcoin Address:</h1>
	{% if user.is_authenticated %}
	<h3>{{user.username}}</h3>
	{% endif %}

	<div class="currency">
		<ul>
			<li><b>Currency:</b> USD $</li>
			<li>
				<form>
					<input type="text" name="new_currency" placeholder="Enter any other currency">
					<button type="submit" class="other_currency"><b>ENTER</b></button>
				</form>
			</li>
		</ul>
	</div>	

	<div class="buy_or_sell">
		<form>
			<button type="button">Sell Bitcoin</button>
			<button type="button">Buy Bitcoin</button>
			<br>
			{% if user.is_authenticated %}
			<p> Click SUBMIT below to veiw the account details of <h3>{{user.username}}</h3></p>
			{% endif %}
			<button type="submit" class="submit"><b>SUBMIT</b></button>
		</form>
	</div>	

	<table>
		<thead>
			<tr>
				<th rowspan="2"> &nbsp; </th>
				<th rowspan="1">BTC</th>
				<th rowspan="1">USD</th>
				<th rowspan="1">{{other_currency}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Transaction</td>
				<td>BTC</td>
				<td>USD</td>
				<td>Other</td>
			</tr>
			<tr>
				<td>Total Received</td>
				<td>BTC</td>
				<td>USD</td>
				<td>Other</td>
			</tr>
			<tr>
				<td>Total Sent</td>
				<td>BTC</td>
				<td>USD</td>
				<td>Other</td>
			</tr>
			<tr>
				<td>Final Balance</td>
				<td>BTC</td>
				<td>USD</td>
				<td>Other</td>
			</tr>
		</tbody>
	</table>
	
	<div class="slider">
		<figure>
				<div> 
					<img src="{% static 'Capture2.PNG' %}">
					<p>
						The<br><b>SECURITY</b><br>of your<br>transactions is<br>
						<b>100% GUARANTEED!</b></p> 
				</div>
				<div>
					<img src="{% static 'Capture6.PNG' %}">
					<p>Enjoy<br><b>massive, passive</b><br>income.<br>
					<b>Fast and Safe!</b></p>
				</div>
		</figure>
	</div>

	<div class="create_account">
		<h2> Create an account<a href="register"> NOW</a></h2>
		<p> And get a Bitcoin wallet for free</p>
	</div>

	<div class="footer">
		&#169; Uviemine Collins Onobrakpeya +2347064731811 
	</div>


</body>
</html>